<?xml version="1.0"?>
<robot name="magni" xmlns:xacro="http://wiki.ros.org/xacro">
    <webots>
        <device reference="camera1" type="Camera">
            <ros>
                <topicName>/rpicam</topicName>
                <alwaysOn>true</alwaysOn>
                <imageSuffix>/image_raw</imageSuffix>
            </ros>
        </device>
        <device reference="laser_sensor" type="Ray">
            <ros>
                <topicName>/scan</topicName>
                <alwaysOn>true</alwaysOn>
            </ros>
        </device>
        <plugin type="webots_ros2_control::Ros2Control" />
    </webots>
</robot>