<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
<xacro:macro name="magni_ros2_control" params="name use_mock_hardware">
    <ros2_control name="${name}" type="system">
        <xacro:unless value="${use_mock_hardware}">
            <hardware>
                <plugin>ubiquity_motor_ros2/MotorHardware</plugin>
            </hardware>
        </xacro:unless>
        <xacro:if value="${use_mock_hardware}">
            <hardware>
                <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
            </hardware>
        </xacro:if>
        <joint name="left_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="right_wheel_joint">
            <command_interface name="velocity"/>
            <state_interface name="position"/>
            <state_interface name="velocity"/>
            <state_interface name="effort"/>
        </joint>
        <joint name="left_caster_wheel_joint"/>
        <joint name="right_caster_wheel_joint"/>
        <joint name="left_caster_wheel_base_joint"/>
        <joint name="right_caster_wheel_base_joint"/>

    </ros2_control>
</xacro:macro>
</robot>
